* {
	margin: 0;
	padding: 0;
}

:root{
	--bg-color: #0f0e17;
	--light-bg-color: #2b2c34;
	--orange-color: #ff8906;
	--red-orange-color: #f25f4c;
	--red-color: #e53170;
	--text-color: #fffffe;
}

html, body{
	background-color: var(--bg-color);
	color: var(--text-color);
	overflow: hidden;
}

input:focus{
	box-shadow: inset 0 0 5px 1px var(--red-orange-color)
}

/*

--------------------------------------------------

*/

main div.TrackInfo img.TrackImage{
	width: 70px;
    height: 70px;
    border: 1px solid var(--text-color);
    border-radius: 3px;
    position: absolute;
    top: 15px;
    left: 15px;
	cursor: pointer;
}
main div.TrackInfo img.TrackImage:hover{
	box-shadow: 0px 0px 15px 1px var(--text-color);
}
main div.TrackInfo p.TrackName{
	position: absolute;
    top: 15px;
    left: 100px;
    font-size: 1.3rem;
    font-weight: bold;
	max-width: 370px;
}
main div.TrackInfo p.TrackAuthor{
	position: absolute;
    top: 45px;
    left: 100px;
    font-size: 0.9rem;
    font-weight: 400;
}
main div.TrackInfo div.TrackControl{
	position: absolute;
    right: 15px;
    top: 15px;
}
main div.TrackInfo button{
	font-size: 1.1rem;
    padding: 10px;
    background: none;
    border: none;
    color: var(--text-color);
    outline: none;
	cursor: pointer;
}
main div.TrackInfo button:hover{
	color: var(--red-orange-color);
}

/*

--------------------------------------------------

*/

main div.TrackPanel{
	position: absolute;
    top: 60px;
    left: 100px;
	display: -webkit-inline-box;
}
main div.TrackPanel button{
	font-size: 1.3rem;
    padding: 10px;
    background: none;
    border: none;
    color: var(--text-color);
	outline: none;
	cursor: pointer;
}
main div.TrackPanel button:hover{
	color: var(--red-orange-color);
}

main div.TrackPanel p.TrackDuration{
	width: auto;
    text-align: center;
    height: 20px;
    margin-top: 15px;
}

main div.TrackPanel div.TrackVolume{
	display: inline-block;
    margin-left: 150px;
}
main div.TrackPanel div.TrackVolume div.TrackVolumeSlider{
    display: inline-block;
	position: relative;
    right: -150px;
	cursor: pointer;
}

/*

--------------------------------------------------

*/

main div.TrackSlider{
	position: absolute;
    top: 115px;
    left: 15px;
	cursor: pointer;
}
main div.TrackSlider input{
	width: 553px;
}



