* {
	margin: 0;
	padding: 0;
}

:root{
	--bg-color: #0f0e17;
	--light-bg-color: #2b2c34;
	--orange-color: #ff8906;
	--red-orange-color: #f25f4c;
	--red-color: #e53170;
	--text-color: #fffffe;
}

html, body{
	background-color: var(--bg-color);
	color: var(--text-color);
	overflow: hidden;
}

/*

--------------------------------------------------

*/

header{
	padding: 5px 15px;
	font-size: 1.1rem;
}
header input.TrackSearch{
	width: 250px;
    background: var(--light-bg-color);
    color: var(--text-color);
    padding: 10px 5px;
    border: 1px solid var(--bg-color);
    outline: none;
    font-size: 0.9rem;
	border-radius: 0 3px 3px 0;
    border-left: none;
}
header label.TrackSearch{
	background: var(--light-bg-color);
    padding: 7px 10px 9px 10px;
    border-radius: 3px 0 0 3px;
    margin-right: -5px;
}
header button{
	font-size: 1.1rem;
    padding: 10px;
    background: none;
    border: none;
    color: var(--text-color);
    outline: none;
	cursor: pointer;
}
header button:hover{
	color: var(--red-orange-color);
}

header button.TrackBack{
	margin-left: -10px;
}

/*

--------------------------------------------------

*/

main table.TrackList{
	width: 716px;
	border-spacing: 0;
}
main table.TrackList tr:nth-child(even){
	background: #777;
}
main table.TrackList tr:hover{
	background: rgba(119,119,119,0.5)!important;
}
main table.TrackList thead tr{
	width: 100vw;
	background: var(--light-bg-color);
}
main table.TrackList tbody tr{
	width: 100vw;
	display: block;
	cursor: pointer;
}
main table.TrackList thead tr th, main table.TrackList tbody tr td{
	height: 15px;
    line-height: 15px;
	text-align: center;
}
main table.TrackList th, main table.TrackList td {
	padding: 15px;
	border: none;
}
main table.TrackList tbody, main table.TrackList thead tr { 
	display: block;
}
main table.TrackList tbody {
    height: 265px;
    overflow-y: auto;
    overflow-x: hidden;
}
main table.TrackList tbody td, main table.TrackList thead th {
    width: 140px;
}
main table.TrackList thead tr th:last-child {
    width: 156px; /* 140px + 16px scrollbar width */
}
main table.TrackList tbody tr td img{
	width: 50px;
    height: 50px;
}
main table.TrackList tbody tr td button{
	font-size: 1.1rem;
    padding: 10px;
    background: none;
    border: none;
    color: var(--text-color);
    outline: none;
	cursor: pointer;
}
main table.TrackList tbody tr td button:hover{
	color: var(--red-orange-color);
}

.text-normal{
	font-size: 1rem;
}
.text-small{
	font-size: 0.9rem;
}